<html>
   <body>
   
      <form action = "{{ url_for('result') }}" method = "POST">
		 <p>Employee <input type ="text" name = "Employee" /></p>
         <p>Departure date in dd/mm/yyyy <input type = "text" name = "Departure date" /></p>
         <p>Arrival date in dd/mm/yyyy <input type = "text" name = "Arrival date" /></p>
         <p>Country <input type = "text" name = "Country" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>